/*.bg{ 
   background: url()   no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/

/*svg*/
svg{
}
@keyframes moves{
    0%{
        transform: translateX(-1px);
    }
    20%{
        transform: translateX(5px);
    }
    55%{
        transform: translateX(0px);
    }
    80%{
        transform: translateX(-4px);
    }
    100%{
        transform: translateX(-8px);
    }
}

.glass {
animation: moves 20s infinite;


}
@keyframes move{
    0%{
        transform: translateY(-19px);
    }
    20%{
        transform: translateY(20px);
    }
    40%{
        transform: translateY(45px);
    }
    55%{
        transform: translateY(20px);
    }
    80%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(-45px);
    }
}
.star{
    animation: move 2s infinite;
}

.ul li{
    font-family: arial;
    font-size: 16px;
    color: #111;
    line-height: 63px;
    float: left;
    list-style: none;
    
}
li a{
    text-decoration: none;
    margin: 0 1.5em;
    color: #1EEF14;
}

.login{
    float: right;
    padding-top: 15px;
}
.login input{
    
    width: 140px;
    height: 30px;
    padding: 0px 10px;
    margin-right: 10px;
    border: none;
    background-color: #ccc;
    font-family: arial;
    font-size: 14px;
    color: #111;
    line-height: 30px;
}
.loginb{
   
    width: 60px;
    height: 30px;
    margin-right: 10px;
    border: none;
    background-color: #f3f3f3;
    font-family: arial;
    font-size: 14px;
    color: #111;
    cursor: pointer;
}
.loginb:hover{
   background-color: #871616;
   color: white;
}
.signup{
    float: left;
    width: 55px;
    height: 30px;
    padding: 1px 1px;
    margin-right: 10px;
    border: none;
    background-color: #720404;
    font-weight: bold;
    font-family: arial;
    font-size: 14px;
    color: white;
    line-height: 30px;
    text-decoration: none;
    position: absolute;
    bottom: 95px;
    left: 12px;

}
/*28/2*/

.signupf{
    width: 400px;
    margin: 0 auto;
    padding-top: 30px;
    color: #988888;
}
.signupfo{
    width: 400px;
    height: 40px;
    padding: 0px 5%;
    margin-bottom: 4px;
    border: none;
    background-color: #fff;
    font-family: arial;
    font-size: 16px;
    color: #111;
    line-height: 40px;
}

.signupfo input{
    width: 400px;
    height: 30px;
    padding: 0px 10px;
    margin-right: 10px;
    border: none;
    background-color: #ccc;
    font-family: arial;
    font-size: 14px;
    color: #111;
    line-height: 30px;
}

.signupb{
    display: block;
    margin: 0 auto;
    width: 30%;
    height: 40px;
    border: none;
    background-color: #222;
    font-family: arial;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}
.signupb:hover{
    background-color: #977E08;
}
.
.divs{

    background: url();
}
.typed{
    color: yellow;
    position: absolute;
    top: 200px;
    left: 86px;
    font-size: 40px;
}

.logout{
    width: 57px;
    height: 20px;
    margin-right: 10px;
    border: none;
    background-color: #046947;
    font-weight: bold;
    font-family: arial;
    font-size: 14px;
    color: #111;
    cursor: pointer;
    position: absolute;
    bottom: 75px;
    left: 12px;

}

/**/
.typing{
    margin-left: 10px;
    color: violet;
    position: absolute;
    top: 280px;
    left: 290px;
    font-size: 35px;
}
.typing::after{
    content: "";
    position: absolute;
    width: 1px;
    height: 5%;
    border-right: 2px solid black bold;
    animation: blink 0.5s infinite ease;
 }   

@keyframes blink{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

